/*<!-- Design and Optimization : www.seltec.ir-->*/
@font-face {
    font-family: "yekan";
    src: url(../fonts/Yekan.eot);
    src: url(../fonts/Yekan.eot?#iefix) format("embedded-opentype"), url(../fonts/Yekan.woff) format("woff"), url(../fonts/Yekan.ttf) format("truetype"), url(../fonts/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}

body {
    direction:rtl;
    font-family:yekan;
    font-size:15px;
}
header {
background: #fff none repeat scroll 0 0;
height: 95px;
}
.logomd {
background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll 0 0;
height: 75px;
margin-top: 0px;
margin-right: -50px;
width: 180px;
}
.logoxs {
background: rgba(0, 0, 0, 0) url("../images/logo-xs.png") no-repeat scroll 0 0;
height: 44px;
margin-top: -17px;
width: 82px;
}
.slider {
min-height:inherit;
transition: all 0.5s ease-in-out 0s;


}
  .slider:hover {
    opacity:0.5;

    }
  
      .style-menu{


    z-index:1000;
}


.product-box {
border-left:1px solid #e1e1e2;
border-top:1px solid #e1e1e2;
border-bottom:1px solid #e1e1e2;
padding:15px;
height:250px;
text-align:center;
border:none;
}
.galery{
    background:#eeeeee none repeat scroll 0 0;
   text-align:center;
    
}

.titel-galery{
    background-color:#eeeeee;
    text-align:center;
    color:#25bfd0;
    
}
.brands ul {
list-style:none;
padding:0;
margin:0;
}
.brands ul li {
display:block;
float:right;
margin:20px;


}
   




footer {
background:#4c4c4c;
color:#fff;
min-height:inherit;
border-top:6px solid #05f7ff;
}

.footer-sidebar{
    list-style:none;
    color:rgba(0, 0, 0, 0);


}



.footercontent {
min-height:inherit;
}

.cat {

height: 300px;
margin: 10px;
transition: all 0.5s ease-in-out 0s;
width: 300px;
border: 5px solid #fff;
}
   .cat:hover {
    opacity:0.5;

    }
   .cat-galery-page {


margin: 10px;
transition: all 0.5s ease-in-out 0s;


}
   .cat-galery-page:hover {
    opacity:0.5;

    }
   .about-servise{

       background-color:#fff;

   }
   .titel-about-servise{
       background-color:#fff;
    text-align:center;
    color:#25bfd0;
    
}
   .about-body{
       background-color:#fff;
   }
   .contacts-adress{
    background:#eeeeee none repeat scroll 0 0;
  
    
}
.center-block {
    text-align: center;
}

.profile-card img {
    margin: 0 auto;
    width: 60%;
}
.profile-card {
    background-color: #fff;
    
    box-shadow: 2px 2px 2px #e7e7e7;
    margin: 15px;
    min-height: 320px;
    padding: 10px;
 
    width: 30%;
    list-style:none;
}
.popular{
    background-color:#111316;
    text-align:center;
    font-style:italic;
    color:#ffffff;

} 
.download{
   
    text-align:center;
    font-style:italic;
  color:rgb(0,0,0);
      

} 
.copyright{
    background: none repeat scroll 0 0 #f5f5f5;
    border-top: 1px solid #eee;
    height: 35px;
}

    .copyright span {
        color: #444;
        display: block;
        font-size: 10px;
        position: relative;
        text-align: center;
        top: 5px;
        width: 100%;
    }
/*<!-- Design and Optimization : www.seltec.ir-->*/